# Netflix Project

In [44]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [45]:
df = pd.read_csv("C:\\Users\\smailey\\Desktop\\lecture\\csv\\netflix_titles.csv")
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [46]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [6]:
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [7]:
df.shape

(8807, 12)

# Remove Null values

In [47]:
df.fillna("",inplace=True)

In [48]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [49]:
df["duration"].unique()

array(['90 min', '2 Seasons', '1 Season', '91 min', '125 min',
       '9 Seasons', '104 min', '127 min', '4 Seasons', '67 min', '94 min',
       '5 Seasons', '161 min', '61 min', '166 min', '147 min', '103 min',
       '97 min', '106 min', '111 min', '3 Seasons', '110 min', '105 min',
       '96 min', '124 min', '116 min', '98 min', '23 min', '115 min',
       '122 min', '99 min', '88 min', '100 min', '6 Seasons', '102 min',
       '93 min', '95 min', '85 min', '83 min', '113 min', '13 min',
       '182 min', '48 min', '145 min', '87 min', '92 min', '80 min',
       '117 min', '128 min', '119 min', '143 min', '114 min', '118 min',
       '108 min', '63 min', '121 min', '142 min', '154 min', '120 min',
       '82 min', '109 min', '101 min', '86 min', '229 min', '76 min',
       '89 min', '156 min', '112 min', '107 min', '129 min', '135 min',
       '136 min', '165 min', '150 min', '133 min', '70 min', '84 min',
       '140 min', '78 min', '7 Seasons', '64 min', '59 min', '139 min',
       '69 min', '148 min', '189 min', '141 min', '130 min', '138 min',
       '81 min', '132 min', '10 Seasons', '123 min', '65 min', '68 min',
       '66 min', '62 min', '74 min', '131 min', '39 min', '46 min',
       '38 min', '8 Seasons', '17 Seasons', '126 min', '155 min',
       '159 min', '137 min', '12 min', '273 min', '36 min', '34 min',
       '77 min', '60 min', '49 min', '58 min', '72 min', '204 min',
       '212 min', '25 min', '73 min', '29 min', '47 min', '32 min',
       '35 min', '71 min', '149 min', '33 min', '15 min', '54 min',
       '224 min', '162 min', '37 min', '75 min', '79 min', '55 min',
       '158 min', '164 min', '173 min', '181 min', '185 min', '21 min',
       '24 min', '51 min', '151 min', '42 min', '22 min', '134 min',
       '177 min', '13 Seasons', '52 min', '14 min', '53 min', '8 min',
       '57 min', '28 min', '50 min', '9 min', '26 min', '45 min',
       '171 min', '27 min', '44 min', '146 min', '20 min', '157 min',
       '17 min', '203 min', '41 min', '30 min', '194 min', '15 Seasons',
       '233 min', '237 min', '230 min', '195 min', '253 min', '152 min',
       '190 min', '160 min', '208 min', '180 min', '144 min', '5 min',
       '174 min', '170 min', '192 min', '209 min', '187 min', '172 min',
       '16 min', '186 min', '11 min', '193 min', '176 min', '56 min',
       '169 min', '40 min', '10 min', '3 min', '168 min', '312 min',
       '153 min', '214 min', '31 min', '163 min', '19 min', '12 Seasons',
       '', '179 min', '11 Seasons', '43 min', '200 min', '196 min',
       '167 min', '178 min', '228 min', '18 min', '205 min', '201 min',
       '191 min'], dtype=object)

In [50]:
g = df.groupby('type')

In [55]:
tv = g.get_group("TV Show")
movie = g.get_group("Movie")
df1 = pd.concat([tv,movie])
df1.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,TV Show,Blood & Water,,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,,,,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...

In [56]:
df1["release_year"].unique()

array([2021, 2020, 2018, 2014, 1994, 2015, 2013, 2019, 2017, 2016, 2012,
       1992, 2002, 2009, 2011, 2005, 2008, 2010, 2007, 2001, 2006, 1993,
       1997, 2003, 1945, 1999, 1998, 2000, 2004, 1986, 1995, 1925, 1972,
       1974, 1988, 1991, 1977, 1979, 1990, 1996, 1981, 1946, 1985, 1967,
       1989, 1963, 1975, 1978, 1983, 1987, 1982, 1984, 1980, 1961, 1976,
       1959, 1964, 1954, 1958, 1956, 1970, 1973, 1960, 1966, 1971, 1962,
       1969, 1968, 1965, 1942, 1955, 1944, 1947, 1943], dtype=int64)

In [53]:
# description , list in date_added , show_id

# Feature Extraction

In [57]:
df2 = df[["title","type","country","release_year","duration","cast","director","rating"]]
df2.head()

,title,type,country,release_year,duration,cast,director,rating
0,Dick Johnson Is Dead,Movie,United States,2020,90 min,,Kirsten Johnson,PG-13
1,Blood & Water,TV Show,South Africa,2021,2 Seasons,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",,TV-MA
2,Ganglands,TV Show,,2021,1 Season,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",Julien Leclercq,TV-MA
3,Jailbirds New Orleans,TV Show,,2021,1 Season,,,TV-MA
4,Kota Factory,TV Show,India,2021,2 Seasons,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",,TV-MA

# 1.Indian Movies Released in year 2000

In [59]:
indian_movies = df1[(df1["release_year"]==2000) & (df1["country"]=="India") & (df1["type"]=="Movie")]["title"]

In [60]:
indian_movies= indian_movies.to_list()

In [61]:
indian_movies

['Fiza',
 'Phir Bhi Dil Hai Hindustani',
 'Chal Mere Bhai',
 'Hamara Dil Aapke Paas Hai',
 'Kya Kehna',
 'Papa the Great',
 'Pukar']

# 2.Top 5 Directors who has directed more number of TV_Shows or Movies

In [62]:
df1["director"].value_counts()[1:6]

Rajiv Chilaka             19
Raúl Campos, Jan Suter    18
Suhas Kadav               16
Marcus Raboy              16
Jay Karas                 14
Name: director, dtype: int64

# 3.Cast of any particular movie

In [63]:
l = df1[df1["title"]=="Kota Factory"]["cast"]
l

4    Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
Name: cast, dtype: object

# 4.How many Movies & TV Shows are in the dataset?

In [64]:
df1["type"].value_counts()

Movie      6131
TV Show    2676
Name: type, dtype: int64

# 5.show only titles of all TV Shows that released in Egypt

In [65]:
df1[(df1["country"]=="Egypt") & (df1["type"]=="TV Show")]["title"]

1201    Abla Fahita: Drama Queen
1229                      My Way
1570            Once Upon a Time
1658                   Valentino
1737                  Paranormal
4022                 More to Say
4023       The Land of Hypocrisy
4026              Eugenie Nights
4027                This Evening
4030               Disappearance
4125    The Last of the Schmucks
4126               Hidden Worlds
4130                       Tayee
4984          Secret of the Nile
Name: title, dtype: object

# 6.In how many Movies and TV shows , duration was 100 minute

In [66]:
l = df1[(df1["duration"]=="100 min") | (df1["type"]=="TV Show")][["title",'type','duration']]
l

                                    title     type   duration
1                           Blood & Water  TV Show  2 Seasons
2                               Ganglands  TV Show   1 Season
3                   Jailbirds New Orleans  TV Show   1 Season
4                            Kota Factory  TV Show  2 Seasons
5                           Midnight Mass  TV Show   1 Season
...                                   ...      ...        ...
8562                  The Women's Balcony    Movie    100 min
8622               Tremors 2: Aftershocks    Movie    100 min
8627                  Trespass Against Us    Movie    100 min
8745  Willy Wonka & the Chocolate Factory    Movie    100 min
8750                        Winter's Bone    Movie    100 min

[2784 rows x 3 columns]

In [67]:
len(l)

2784

# EDA

# 1.Total Number of Indian TV Shows released every year.

In [68]:
g= df1.groupby('type')

In [69]:
show= g.get_group("TV Show")

In [70]:
df3 = show[show["country"]=="India"]
df3["release_year"].value_counts()

2020    16
2019    13
2018    13
2021     9
2015     9
2014     5
2017     3
2013     3
2010     3
2012     2
2009     1
2011     1
2016     1
Name: release_year, dtype: int64

In [71]:
len(df3)

79

# 2.Number of TV Shows and Movies released every year World Wide.

In [72]:
g = df1.groupby("release_year")

In [73]:
dic = {}
for year,sub_df in g:
    
    dic[year] = sub_df["type"].value_counts()

In [74]:
df4 = pd.DataFrame(dic)
df4

,1925,1942,1943,1944,1945,1946,1947,1954,1955,1956,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Movie,NaN,2.0,3.0,3.0,3,1,1.0,2.0,3.0,2.0,...,173,225,264,398,658,767,767,633,517,277
TV Show,1.0,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,...,64,63,88,162,244,265,380,397,436,315

In [75]:
df4 = df4.transpose()

In [76]:
df4

      Movie  TV Show
1925    NaN      1.0
1942    2.0      NaN
1943    3.0      NaN
1944    3.0      NaN
1945    3.0      1.0
...     ...      ...
2017  767.0    265.0
2018  767.0    380.0
2019  633.0    397.0
2020  517.0    436.0
2021  277.0    315.0

[74 rows x 2 columns]

In [77]:
df4.sort_index()

      Movie  TV Show
1925    NaN      1.0
1942    2.0      NaN
1943    3.0      NaN
1944    3.0      NaN
1945    3.0      1.0
...     ...      ...
2017  767.0    265.0
2018  767.0    380.0
2019  633.0    397.0
2020  517.0    436.0
2021  277.0    315.0

[74 rows x 2 columns]

# 3.Number of Movies Released in every Rating Category.

In [78]:
movie = df1.groupby("type")

In [79]:
movie["rating"].value_counts()

type     rating
Movie    TV-MA       2062
         TV-14       1427
         R            797
         TV-PG        540
         PG-13        490
         PG           287
         TV-Y7        139
         TV-Y         131
         TV-G         126
         NR            75
         G             41
         TV-Y7-FV       5
         NC-17          3
         UR             3
                        2
         66 min         1
         74 min         1
         84 min         1
TV Show  TV-MA       1145
         TV-14        733
         TV-PG        323
         TV-Y7        195
         TV-Y         176
         TV-G          94
         NR             5
                        2
         R              2
         TV-Y7-FV       1
Name: rating, dtype: int64

# 4.Which Country has the heighest no of TV Shows.

In [80]:
show["country"].value_counts()

United States                                    760
                                                 391
United Kingdom                                   213
Japan                                            169
South Korea                                      158
                                                ...
Belarus                                            1
United Kingdom, Australia                          1
France, Australia, Germany                         1
Australia, New Zealand, United States              1
United States, France, South Korea, Indonesia      1
Name: country, Length: 197, dtype: int64